<div id="app">
  <navbar></navbar>
  <div class="container">
    <router-view></router-view>
  </div>
</div>

<%= javascript_pack_tag 'todo' %>

<style scoped>
[v-cloak] {
display: none;
}
.display_none {
display: none;
}
/*打ち消し線を引く*/
.line-through {
text-decoration: line-through;
}
</style>